

<div id="prev" style="float: left; margin-top: 200px; padding-left:5%">
	{% if post.title == 1 %}
		<a href="/{{post.title}}">&laquo; Prev</a>
	{% else %}
		<a href="/{{post.title | minus: 1}}">&laquo; Prev</a>
	{% endif %}
</div>
<div id="next" style="float: right; margin-top: 200px; padding-right: 5%">
	{% if post.title == site.posts.first.title %}
		<a href="/{{post.title}}">Next  &raquo; </a>
	{% else %}
		<a href="/{{post.title | plus: 1}}">Next &raquo; </a>
	{% endif %}
</div>

<section class="content">
  <div style="text-align: center; margin-top: 100px;">
	  {{ content }}
  </div>
</section>




